/** Defaults**/

nav, header, footer {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


/*Nav Bar*/

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #FF8C00;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav-left li {
  list-style: none;
  float: left;
  min-height: 16px;
  padding: 14px;
}

ul.topnav-left li.top-right {
  float: right;
}

ul.topnav-left li a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

  /* Hover over navbar animation */

ul.topnav-left a:hover {
  transition: 0.3s;
    color: white;
  }

ul.topnav-left li.dropdownIcon {
  display: none;
}

/*mobile*/
@media screen and (max-width: 680px) {
/* This is telling the brwoser to display nothing expect the child number of 1 */
  ul.topnav-left li:not(:nth-child(1)) {
    display: none;
  }

  /* This then tells searches the parent class and finds the child class and
   display the hambuger menu */

   ul.topnav-left li.dropdownIcon {
     /* Easy to postion elements */
     display: block;
     /* Overides the float from before */
     float: right;
   }
}

ul.topnav-left.respond {
  position: relative;
}

ul.topnav-left.respond li {
  display: inline;
  float: none;
}

ul.topnav-left.respond li a {
  display: block;
}

}
