/** Defaults**/

nav, header, footer {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

/* Background color */
#con-background {
  background-image: linear-gradient(to right, rgba(47, 49, 44, 0.9), rgba(84, 196, 181, 0.9));
}

#con-background:hover {
  background-color: black;
}

h1.large {
  color: #fff;
  font-size: 50px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Nav Bar*/

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #FF8C00;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav-left li {
  list-style: none;
  float: left;
  min-height: 16px;
  padding: 14px;
}

ul.topnav-left li.top-right {
  float: right;
}

ul.topnav-left li a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

  /* Hover over navbar animation */

ul.topnav-left a:hover {
  transition: 0.3s;
    color: white;
  }

ul.topnav-left li.dropdownIcon {
  display: none;
}

/*mobile*/
@media screen and (max-width: 680px) {
/* This is telling the brwoser to display nothing expect the child number of 1 */
  ul.topnav-left li:not(:nth-child(1)) {
    display: none;
  }

  /* This then tells searches the parent class and finds the child class and
   display the hambuger menu */

   ul.topnav-left li.dropdownIcon {
     /* Easy to postion elements */
     display: block;
     /* Overides the float from before */
     float: right;
   }
}

ul.topnav-left.respond li.dropdownIcon {
  position: absolute;
  top: 0;
  right: 0;
}

ul.topnav-left.respond {
  position: relative;
}

ul.topnav-left.respond li {
  display: inline;
  float: none;
}

ul.topnav-left.respond li a {
  display: block;
  text-align: center;
}

}
