/** Defaults**/

nav, header, footer {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Bolds text for chat with me */
label {
  font-size: 35px;
  font-weight: 900;
}

p {
  font-size: 27px;
  line-height: 1.2;
}

article p {
  font-size: 35px;
  padding: 20px;
}

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

/* Background color */
#con-background {
  background-image: linear-gradient(to right, rgba(47, 49, 44, 0.9), rgba(84, 196, 181, 0.9));
}

#con-background:hover {
  background-color: black;
}


.leftside-col {
  margin-left: 30%
}

div.rightSide-col {
  margin-left: 15%;
}

h1.title {
  color: #fff;
  font-size: 50px;
  margin: 0;
  line-height: 70px;
}

h1.title:hover {
  color: black;
  transition: 0.5s;
}

/* End of background color */


/* Used as a specific way to give details to the input field for different ones */
input[type="text"] {
  font-size: 20px;
  width: 400px;
  min-width: 100px;
  padding: 5px;
  border-radius: 20px;
}

/* Form Style */
form h2 {
    color: #fff;
  }

form h2:hover {
  color: black;
  transition: 0.3s;
}

/* End */

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

button {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  background-color: #0069ff;
  padding: 15px 60px;
  display: block;
  text-align: center;
  margin: 5px;
  border-radius: 20px;
}

button.learnMore {
  display: block;
  margin: auto;

}

/* For columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* Selects all the elemnts on the page */
* {
  box-sizing: border-box;
}

/*Nav Bar*/

nav {
  width: 100%;
  margin: 0;
  }

nav ul {
  background-color: #FF8C00;
  overflow: hidden;
  margin: 0;
  padding: 0;
  }

ul.topnav li {
  list-style: none;
  float: left;
  min-height: 16px;
  padding: 14px;
  }

ul.topnav li.top-right {
  float: right;
  }

ul.topnav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
  }

  /* Hover over navbar animation */

ul.topnav a:hover {
  transition: 0.3s;
    color: white;
  }

ul.topnav li.dropdownIcon {
  display: none;
  }


/* End of navbar */

  /* Header Section */

h1.section2Header {
  font-size: 65px;
  text-align: center;
  }

div.box {
  /* Text align center on this box applies to all children classes width
  text elements within their class!! */
  text-align: center;
  margin: 24px;
  /*Top Left Bottom Right*/
  padding: 36px 24px 40px 24px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0.15),
  0 2px 3px 0 rgba(0,0,0,.1);
}

div.icon {
  width: 100%;
}


/*mobile*/
@media screen and (max-width: 680px) {
/* This is telling the brwoser to display nothing expect the child number of 1 */
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }

  /* This then tells searches the parent class and finds the child class and
   display the hambuger menu */

   ul.topnav li.dropdownIcon {
     /* Easy to postion elements */
     display: block;
     /* Overides the float from before */
     float: right;
   }


ul.topnav.respond li.dropdownIcon {
  position: absolute;
  top: 0;
  right: 0;
  }

ul.topnav.respond {
  position: relative;
  }

ul.topnav.respond li {
  display: inline;
  float: none;
  }

ul.topnav.respond li a {
  display: block;
  text-align: center;
  }



/* Stops video from overlapping other elements in the container */
.col-6,
.col-4 {
  width: 100%;
  margin: 0;
  padding-top: 16px;
}

div.box {
  padding: 5px;
  display: block;
}

div.leftside-col,
div.rightSide-col {
  margin: 15px;
}

input[type="text"] {
  width: 350px;
}

/* Stops video from overflowing */
.videoContainer, iframe {
  position: relative;
  width: 100%;
  margin: 0;
  /* Clips the content and stops the user from scrolling */
  overflow: hidden;
}


  }

  /* End of mobile */


    }
